@model IEnumerable<WebStore.NewModels.EmployeController>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SureName</td>
            <td>@item.Patronimic</td>

            <td>
                @Html.ActionLink("Детали", "EmployeeDetails", new { id = item.Id });
            </td>
        </tr>
    }


    <td>
        @Html.ActionLink("Students", "HomeWorkStudents");
    </td>

</table>